{{ "<!-- CONTACT -->" | safeHTML }}
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 text-center">
                <h2 class="section-heading">{{ with .Site.Params.contact.headline }}{{ . }}{{ end }}</h2>
                <hr class="primary">

                <i class="fa fa-4x fa-github wow bounceIn text-primary"></i>
                <p class="text-muted">{{ with .Site.Params.contact.description }}{{ . }}{{ end }}</p>
                <a href="{{ with .Site.Params.contact.button.link }}{{ . }}{{ end }}" class="btn btn-primary btn-xl page-scroll">{{ with .Site.Params.contact.button.text }}{{ . }}{{ end }}</a>

            </div>
        </div>
    </div>
</section>
